screenshot/n8n-example.json
{
  "name": "Screenshot API Workflow",
  "nodes": [
    {
      "parameters": {
        "url": "http://localhost:3000/screenshot",
        "options": {
          "qs": {
            "url": "https://www.baidu.com"
          }
        }
      },
      "id": "screenshot-node",
      "name": "Take Screenshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"success\"]}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"data\"][\"downloadUrl\"]}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "download-file",
      "name": "Download Screenshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        820,
        160
      ]
    }
  ],
  "connections": {
    "Take Screenshot": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Download Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {}
} 